.altered-meeple {
    display: inline-block;
    vertical-align: middle;

    &[data-type="companion"],
    &[data-type="hero"] {
        width: 60px;
        height: 60px;
        background-image: url("img/hero-tokens.jpg");
        background-size: 600% 200%;
        border-radius: 50%;
        box-sizing: border-box;
        position: relative;

        &[data-faction="AX"] {
            background-position-x: 0%;
        }
        &[data-faction="BR"] {
            background-position-x: 20%;
        }
        &[data-faction="LY"] {
            background-position-x: 40%;
        }
        &[data-faction="MU"] {
            background-position-x: 60%;
        }
        &[data-faction="OD"] {
            background-position-x: 80%;
        }
        &[data-faction="YZ"] {
            background-position-x: 100%;
        }

        &[data-side] {
            position: relative;
            &::after {
                content: "";
                display: block;
                mix-blend-mode: plus-lighter;
                width: 66px;
                height: 66px;
                border-radius: 50%;
                box-sizing: border-box;
                margin: -3px;
            }
        }
        &[data-side="me"]::after {
            // background: blue;
            box-shadow: 0px 0px 5px 4px rgb(0, 65, 216);
            border: 3px solid rgb(0, 65, 216);
        }
        &[data-side="opponent"]::after {
            // background: red;
            box-shadow: 0px 0px 5px 4px rgb(191, 0, 0);
            border: 3px solid rgb(191, 0, 0);
        }
        // animation: pulse-animation 2s infinite;

        // @keyframes pulse-animation {
        //     0% {
        //         box-shadow: 0 0 0 0px rgba(255, 219, 12, 0.8);
        //     }
        //     100% {
        //         box-shadow: 0 0 0 5px rgba(255, 219, 12, 0.1);
        //     }
        // }

        &.willProgress::before {
            content: "\f0d9";
            display: block;
            position: absolute;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 14px;
            font-size: 40px;
            text-rendering: auto;
            top: 10px;
            left: -26px;
            color: white;
            text-shadow:
                0px 0px 4px black,
                0px 0px 4px black;

            // content: "";
            // display: block;
            // position: absolute;
            // width: 0;
            // border: 12px solid transparent;
            // border-right: 22px solid white;
            // top: 18px;
            // left: -43px;
        }
        &[data-type="hero"].willProgress::before {
            content: "\f0da";
            left: 66px;

            // border: 12px solid transparent;
            // border-left: 22px solid white;
            // left: 65px;
        }
    }
    &[data-type="hero"] {
        background-position-y: 100%;
    }

    &[data-type="fleeting"] {
        background-image: url("img/icons/fleeting.png");
        background-size: 100% 100%;
        width: 30px;
        height: 30px;
    }
    &[data-type="boost"] {
        background-image: url("img/icons/boost.png");
        background-size: 100% 100%;
        width: 30px;
        height: 30px;
    }
    &[data-type="anchored"] {
        background-image: url("img/icons/anchored.png");
        background-size: 100% 100%;
        width: 30px;
        height: 30px;
    }
    &[data-type="ascend"] {
        background-image: url("img/icons/ascend.png");
        background-size: 100% 100%;
        width: 62px;
        height: 62px;
    }
    &[data-type="featCompleted"] {
        background-image: url("img/icons/completed.png");
        background-size: 100% 100%;
        width: 44px;
        height: 44px;
    }


    &[data-type="ocean"],
    &[data-type="forest"],
    &[data-type="mountain"] {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        font-size: 19px;
        line-height: 26px;
        color: white;
        box-shadow: 0px 0px 3px black;
        text-shadow: none;
        text-align: center;
        font-family: "icomoon" !important;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &.selectable {
            margin: 0px 4px;
            cursor: pointer;
            box-shadow: 0px 0px 7px 10px lime;
            &:hover {
                scale: 1.1;
            }
        }
    }

    &[data-type="ocean"] {
        background: #006d97;
        border: 1px solid #8cb6c7;
    }
    &[data-type="forest"] {
        background: #799c00;
        border: 1px solid #c0cf89;
    }
    &[data-type="mountain"] {
        background: #bb690f;
        border: 1px solid #d3b596;
    }
}

.action-button {
    .icon-container ~ .altered-meeple {
        margin-left: 0.5em;
    }
}

#animation-counter {
    padding: 0px 34px 0px 6px;
    height: 32px;
    z-index: 10;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
    background-color: #ffffffb2;
    background-image: url("img/icons/charge.svg");
    background-repeat: no-repeat;
    background-position: center right 2px;
    background-size: auto 86%;
    font-family: "Haptic Pro";
    line-height: 38px;
    font-size: 30px;
}
